/*Steven Scheffelaar Klots*/
/*Steven_ScheffelaarKlots@student.uml.edu*/
/*Student in 91.601 GUI Programming 1*/
/*12/6/16*/
/*Css for page that emulates a single row of Scrabble*/
#board {
    display: block;
    font-size: 0;
    border-color: black ;
    border-width: 2px;
}

#rack{

    //text-align: center ;
    display: inline ;
}

.draggable, .droppable {
    display: inline-block;
}